p{
    color:#A52A2A;
    line-height : 30px;
     text-align: center;
}
h1{
    text-align: center;
    color:red;
    text-decoration: underline;
}
h3{
     text-align: center;
     color:black;
}
*{
    font-family:Georgia,
}
a{
    color:rgb(0,128,0);
    text-decoration: none;
}
button{
    color:blueviolet;
    background-color: white;

}
textarea{
    color:#000;
}
/* span inline... to style small part separately */
span{
     text-decoration: underline;

}
