
 /* header ma styling problem(multiple html hoti) */
h1{
      color:red;
     background-color: black;
}
p{
    color: blue;
     background-color: black;

}
button{
       color:black;
     background-color: yellow;

}

/* practice */
h3{
    color:orange;
}
p{
    color:white;
    background-color: blue;
}
button{
    color:white;
    background-color: black;
}

/* RGB=>YBP and code(red,green,blue)  */
/* white 255 all and black all 0 */
/* color-picker */
h4{
    color:rgb(250,0,0)
    /* color:#ff0000;
    color:#f00; */
}
